<div class="navbar">
    <span>My Blog</span>
    <div>
        <a href="/" class="active">Home</a>
        <a href="/about">About</a>
        <a href="/blogs">Blogs</a>
        <a href="/contact">Contact</a>
    </div>
    <button onclick="window.location.href='/createblog'">+ Create Blog</button>
</div>