<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div>
        <h3>My Blog</h3>
      </div>
      <div>
        <ul>
          <li>Home</li>
          <li>Blogs</li>
          <li>Contact</li>
        </ul>
      </div>
      <div><a href="/createblog">Create Blog</a></div>
    </nav>
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A inventore officia rem, consectetur ipsam, voluptatem ex modi sunt impedit aperiam quos vero ut porro magni debitis amet id aspernatur animi?
        Consectetur, totam nisi? Enim, corrupti eveniet amet deleniti saepe repellat provident, est facere molestiae possimus hic! Sequi quos blanditiis inventore voluptatem neque expedita. Quisquam cum dolore quos incidunt quaerat nemo.
        Cumque, facilis! Placeat pariatur blanditiis vel adipisci optio fugiat perspiciatis molestiae, ut labore dicta incidunt nisi libero eos fuga nulla, deserunt alias a magni maxime dolor? Minima amet ad minus.
        Architecto repellendus eaque ratione ex odit, quasi atque obcaecati est ad pariatur rerum quis nostrum sapiente ullam quam suscipit quisquam expedita perspiciatis sed. Dicta deleniti facilis quo numquam dolore impedit!
        Voluptates pariatur nesciunt facilis sequi maiores accusamus veniam minima et ipsam, mollitia accusantium. Consequuntur nemo nesciunt odit eos beatae est ratione explicabo facere? Totam, recusandae optio culpa veniam fuga ducimus?
        Debitis eaque, veritatis repellendus odit quo culpa aspernatur a, harum porro numquam impedit eveniet sint nihil suscipit aliquam quos nobis ullam nostrum itaque quis nesciunt quae minima! Molestiae, ex debitis.
        Explicabo, fuga distinctio. Autem aut natus eveniet quo aliquid exercitationem odio omnis architecto sed cumque, eligendi laboriosam consectetur obcaecati, perferendis incidunt voluptatibus quisquam, fugiat molestiae ipsum mollitia eos vero excepturi!
        Aliquid voluptatibus quo, voluptate iste nesciunt eum ad amet ipsum dolor deleniti ut, natus quibusdam officiis quae, itaque laborum. Delectus adipisci, assumenda et sed explicabo possimus repellendus numquam quam ducimus.
        Nulla voluptates non doloribus asperiores, maxime repellat possimus iste odio modi, voluptas saepe perferendis quis, vitae fuga commodi quisquam dicta illum eaque officiis odit quae officia distinctio quibusdam? Repellendus, est.
        Odio nostrum soluta facere. Dolor aut nulla laboriosam maxime, quos vitae necessitatibus voluptatum aliquid dolorum dicta corporis quis error voluptates. Libero provident odit, nesciunt impedit laudantium nam enim velit tempore.
        Laudantium, facilis? Architecto accusantium obcaecati et atque possimus, odio, modi, explicabo ut officiis ipsam molestias? Beatae, repellat quos perferendis illo eos reiciendis amet modi et eius doloribus officia fuga commodi!
        Accusamus vel voluptatum, in ullam voluptas sed officia nihil a quisquam. Porro doloribus sint laborum vel quaerat numquam reiciendis distinctio ea recusandae itaque exercitationem laboriosam, veniam cum debitis quia hic.
        Aliquam harum deserunt amet praesentium quis asperiores obcaecati fugiat consectetur eligendi distinctio, explicabo quidem veritatis alias accusamus architecto excepturi porro! Ad iusto officiis soluta, voluptates perspiciatis velit deserunt. Vel, similique.
        Unde tempora ipsum esse odio iure corrupti ex voluptatibus quia optio voluptas cupiditate aspernatur aperiam alias quae recusandae voluptates veritatis autem at quos nam cum, fuga tempore iste! Dignissimos, fugit!
        Quos totam repellat fugiat quibusdam ad dolorum ex molestias consectetur unde voluptates repudiandae odit veritatis, dolor eos sequi, laboriosam corrupti suscipit. Reiciendis accusantium error, esse corporis repudiandae doloribus ab deserunt?
        Iusto nam recusandae eveniet reprehenderit? Hic totam nisi voluptate ratione corporis! Vitae dicta ducimus corrupti amet eligendi explicabo, quas perspiciatis voluptatibus ab natus iusto architecto fugit, officiis, veritatis nemo placeat.
        Mollitia consequatur sed debitis fugit ab corrupti, ratione, iusto vel quae praesentium, commodi deserunt! Aspernatur debitis fugit tempora alias pariatur reiciendis, harum, doloribus tempore, illum consequatur nobis officiis dolores voluptatum?
        Porro et tenetur amet incidunt est facilis, expedita sint ipsa illo harum voluptatem doloremque beatae perspiciatis inventore ab hic voluptas obcaecati, molestias iusto minima. A fuga ipsam vitae nobis eum.
        Minima facere totam, mollitia nulla aut hic architecto incidunt vero repudiandae sequi. Harum, ex dolores, aliquid facilis, eveniet autem molestiae quas blanditiis error quidem eius perspiciatis numquam voluptas nemo ipsa.
        Assumenda doloremque provident, modi est sit hic sunt harum veritatis, possimus quia suscipit dolores nobis. Libero iure reprehenderit eius corrupti aspernatur repellat quae quos qui nesciunt consequuntur, veritatis vel expedita.
        Sequi iste qui ut quisquam officia, pariatur voluptatibus accusamus laboriosam adipisci architecto quasi vel dignissimos corrupti enim, sit unde illum provident? Temporibus laudantium obcaecati, hic dolores voluptates quae ea distinctio!
        Accusamus eligendi placeat vitae distinctio asperiores doloribus id beatae nesciunt inventore quisquam totam aperiam, aut, recusandae vero, sed at maiores quibusdam ducimus quod autem tempora molestias. Ab, consequuntur! Velit, quisquam.
        Optio quos laudantium est iste perferendis ducimus distinctio iusto, voluptate ut sequi corporis magnam, inventore dolorum non unde provident sint, beatae numquam eum voluptas eius odio consectetur maxime. Officiis, architecto!
        Eaque architecto similique incidunt debitis. Cupiditate dignissimos error saepe voluptatum sunt similique suscipit libero, provident neque! Ratione fuga esse repudiandae tenetur, nihil a odit, adipisci excepturi quas reiciendis cum? Velit.
        Fugiat ut excepturi hic possimus exercitationem assumenda provident et magnam beatae natus tenetur blanditiis voluptas mollitia minima, distinctio rerum ad tempora? Eveniet cupiditate incidunt aperiam non? Quisquam mollitia atque illum?
        Expedita aliquam aspernatur a! Quam nisi excepturi vel facere mollitia at praesentium eius maxime. Quaerat, dolor, officiis officia doloremque debitis suscipit, recusandae quibusdam molestias in laudantium aperiam ratione consectetur alias?
        Illo maiores ullam minima iusto necessitatibus officia magni adipisci distinctio architecto excepturi similique quae, aspernatur amet vero alias corporis atque placeat explicabo dolorum hic laboriosam. Ex quia dolores in eaque!
        Deserunt numquam repellat odit, ipsum enim pariatur atque temporibus eum minus qui cumque laudantium dolor repudiandae, explicabo reprehenderit a maiores voluptatibus odio doloribus consequatur minima assumenda ullam illo! Provident, enim?
        Nesciunt architecto vero, alias, saepe aliquam atque eos laborum facere ad minima itaque, quasi similique dolorem exercitationem quas culpa esse voluptatum laudantium odio velit facilis quo debitis. Quia, ratione aliquam!
        Laborum doloremque, minima est labore, eveniet vitae quo, totam minus quia recusandae iste officia ipsa dolorum laudantium earum. Ratione velit aut debitis nisi eos ex esse odio provident assumenda numquam.
        Et exercitationem, numquam totam doloribus ut porro praesentium eveniet in deserunt ipsa vitae vel incidunt aspernatur aliquid amet, magni cumque molestias voluptatum ullam adipisci? Eveniet quibusdam aut unde? Molestiae, error.
        Odit accusantium id nihil distinctio dignissimos? Dolore cupiditate odit distinctio laudantium illo recusandae iste exercitationem quaerat quis accusamus veritatis eveniet deleniti in labore, minima et aperiam. Fugiat possimus quisquam aperiam.
        Deleniti asperiores rerum minus natus suscipit perspiciatis repellat eveniet voluptatem ut dolorem, dignissimos iusto ducimus laborum unde animi ab ea itaque atque id doloremque! Minima veritatis reprehenderit corporis animi qui!
        Aliquid saepe quisquam distinctio placeat dicta possimus incidunt voluptas quis tenetur exercitationem modi, molestiae aliquam provident eius nesciunt fugiat voluptatem quod cumque, accusamus porro. Hic et repellendus deleniti esse ipsam.
        Saepe quod corrupti amet soluta odit ipsa temporibus doloremque ut id quidem modi quisquam doloribus natus rerum vel, inventore consectetur, beatae eum sed ipsum corporis unde repudiandae. Sint, amet itaque?
        Molestias iste ea quos dignissimos quo! Eos provident est autem deserunt id accusamus optio tempore molestias reiciendis laborum nesciunt perferendis sequi eveniet esse sint sapiente tempora, eaque impedit possimus nemo?
        Repellat repudiandae sed ut incidunt fugit labore libero accusamus architecto, asperiores modi atque, nihil sit iusto sint ea, aliquid cum. Voluptatem dolor dolorum similique, atque obcaecati animi? Consequuntur, cupiditate tempore.
        Dolore, porro! Rem veniam, vitae deleniti sunt dolorum ut similique soluta architecto sint quisquam non ipsam praesentium possimus doloremque nemo eos nobis neque. Qui accusamus natus fugit animi perspiciatis iusto.
        In recusandae ipsum maxime natus expedita similique laudantium debitis incidunt? Commodi tempora assumenda esse officiis culpa expedita dolorum enim nostrum necessitatibus ut quisquam iusto ea, autem harum tenetur nulla quia.
        Magni minima soluta commodi doloribus tempora itaque dicta accusamus ducimus expedita quos a omnis atque blanditiis impedit necessitatibus, temporibus aut minus harum reiciendis. Harum veniam totam, magni nulla minus nostrum!
        Odio, porro. Magni quidem quisquam fugiat architecto enim nihil exercitationem eaque, voluptatibus sunt facere iure porro sapiente eveniet sit minima pariatur. Architecto exercitationem illum quos possimus temporibus! Rem, nam in.
        Accusamus inventore numquam voluptatem quam velit? Reiciendis modi illo aliquam autem laborum eaque sint sapiente dolor dolorem odio sit officiis quia commodi totam excepturi temporibus laboriosam ratione voluptatum, natus deleniti.
        Numquam dolorem placeat error, alias commodi quidem ea nihil delectus culpa porro hic. Doloremque labore impedit necessitatibus quam voluptate, temporibus consequatur. Numquam amet ipsum unde sint quod exercitationem, odio maiores?
        Possimus quidem architecto alias nemo. Necessitatibus soluta eos sapiente impedit fugiat et hic consequuntur nulla harum cum aliquam commodi accusantium voluptates non vitae enim, nisi placeat. Laboriosam laudantium ratione eaque?</p>
    </div>
  </body>
</html>
